# .coveragerc to control coverage.py
[run]
branch = True
omit =
    # Never test __file__ files
    */__pycache__/
    */__init__.py
    # Don't test the detection or tracking repositories
    */pipeline/detection/yolov5/*
    */pipeline/detection/yolor/*
    */pipeline/tracking/sort/*
    */pipeline/tracking/sort_oh/*
    */pipeline/reidentification/torchreid/*
    */pipeline/reidentification/fastreid/*
    # Cannot be tested in docker
    */processor/input/cam_capture.py
    # Don't test any documentation or testing files
    */processor/scheduling/component/*
    */processor/yolov5_test.py
    */processor/training/tracking/trackeval_master/*
    # Don't cover main.py files
    */main.py

[report]
ignore_errors = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[html]
directory = coverage_html
