**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/opencv-docker-image 
**/.idea
README.md
*.pyc
*.log
**/yolov4deepsort
**/data/plots
**/data/videos/cars.mp4
**/data/videos/test_accuracy.mp4
**/data/videos/venice.mp4
