# Install these dependencies using
# pip install -r requirements.txt

# General imports
tornado==6.1
numpy>=1.16<1.19
matplotlib
scipy<=1.6.1
python-time

# Images / Video
pillow
opencv-python==4.1.2.30
ffmpeg-python

# Threading
threaded

# XML
lxml
# Loading bar
tqdm

torch==1.8.0+cu101
torchvision==0.9.0+cu101
-f https://download.pytorch.org/whl/torch_stable.html

# YOLOv5
# -r app/src/detection/yolov5/requirements.txt

# File reading
PyYAML>=5.3.1

absl-py
requests

# Plotting
seaborn>=0.11.0
pandas


