# Install these dependencies using
# pip install -r requirements-test.txt

# General imports
tornado==6.1
numpy>=1.16<1.19
scipy<=1.6.1
regex
python-time

# Testing
pytest
pytest-asyncio
pytest-timeout
coverage

# Images / Video
pillow
opencv-python-headless
opencv-python==4.5.1.48
ffmpeg-python

# Threading / Async
threaded
asyncio

# XML
lxml
# Loading bar
tqdm
