# Install these dependencies using
# pip install -r requirements-gpu.txt

# Loading bar
tqdm==4.59.0

torch==1.8.0+cu101
torchvision==0.9.0+cu101
-f https://download.pytorch.org/whl/torch_stable.html

# Also necessary for yolov5 
pandas

# YOLOv5
-r processor/pipeline/detection/yolov5/requirements.txt

# YOLOR
-r processor/pipeline/detection/yolor/requirements.txt

# SORT tracking
-r processor/pipeline/tracking/sort/requirements.txt

# ReID
-r processor/pipeline/reidentification/torchreid/requirements.txt
