# Install these dependencies using
# pip install -r requirements.txt

# General imports
tornado==6.1

# Threading / Async
threaded==4.1.0
asyncio==3.4.3
kthread==0.2.2

# Accuracy
object_detection_metrics==0.1

# Images / Video
opencv-python-headless==4.5.1.48
opencv-python==4.5.1.48
ffmpeg-python==0.2.0
matplotlib

pycocotools==2.0.2

# Download models via the web
gdown==3.13.0
