# Ignore everything
*

# Whitelist component folders that need to get documented
!docs
!utility
!CameraProcessor/processor
!CameraProcessor/data/annotated/test
!ProcessorOrchestrator/src
!VideoForwarder/src
!Interface/react/package.json
!Interface/react/src
!Interface/react/tsconfig.json

# Exclude existing html
**/docs/html/