# Ignore all generated HTML for documentation
/docs/html/*

# Log files
*.log

# Python related ignores
# Dependent on personal environment and settings
**/.idea

# virtualenv
.venv
**/venv

# Ignore linter config file outside of root to prevent duplicates
**/.pylintrc
!.pylintrc

*.pyc

# VS code
**/.vscode
/.project

# Directory
ForwarderOrchestrator

CameraProcessor/src/yolov5s.pt

CameraProcessor/.pylintrc
CameraProcessor/processor/training/detection/plots/
CameraProcessor/utility/__init__.py
CameraProcessor/utility/pylint_ignore.py
CameraProcessor/data/annotated/test/img1-complete/
CameraProcessor/data/annotated/MOT20
CameraProcessor/data/annotated/test
CameraProcessor/data/annotated/COCO/annotations
