[submodule "yolov5"]
	path = CameraProcessor/processor/pipeline/detection/yolov5
	url = https://github.com/UU-tracktech/yolov5.git
[submodule "yolor"]
	path = CameraProcessor/processor/pipeline/detection/yolor
	url = https://github.com/UU-tracktech/yolor.git
[submodule "torchreid"]
	path = CameraProcessor/processor/pipeline/reidentification/torchreid
	url = https://github.com/UU-tracktech/deep-person-reid.git
