# Ignore all generated HTML for documentation
/docs/html/*

# Python related ignores
# Dependent on personal environment and settings
**/.idea

# virtualenv
.venv
**/venv

# Ignore linter config file outside of root to prevent duplicates
**/.pylintrc
!.pylintrc

*.pyc

# VS code
**/.vscode
/.project

# Directory
ForwarderOrchestrator

CameraProcessor/src/yolov5s.pt
