# .coveragerc to control coverage.py
[run]
branch = True
omit =
    # Never test __file__ files
    */__pycache__/
    */__init__.py

[report]
ignore_errors = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[html]
directory = po_coverage_html

[xml]
directory = po_coverage_xml