.video-player {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}
.video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}
.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}